<!DOCTYPE plugin SYSTEM "../../libs/devblocks/plugin.dtd">
<plugin>
	<id>feg.core</id>
	<name>[FEG] Core</name>
	<description>The core functionality of FEG.</description>
	<author>Robert Middleswarth</author>
	<revision>1</revision>
	<link>feg.answernet.com</link>
	
	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="devblocks.core" version="2.0.0" />
	</dependencies>

	<!-- Patches -->
	
	<patches>
		<patch version="1.0.0-beta" revision="22" file="patches/1.0.0_beta.php" />
	</patches>


	<!-- Controller Routing -->

	<uri_routing>
		<!--
		<uri name="tickets" controller="core.controller.page" />
		-->
	</uri_routing>
	
	<!-- Exported Classes -->
	
	<class_loader>
		<file path="api/plugin.classes.php">
			<class name="FegPageController" />
			<!--
			<class name="ChTaskSource_Ticket" />
			<class name="ChWorkspaceSource_Worker" />
			-->
		</file>
		<file path="api/dao/worker.php">
			<class name="DAO_Worker" />
			<class name="DAO_WorkerPref" />
			<class name="DAO_WorkerRole" />
			<class name="Model_Worker" />
			<class name="Model_WorkerRole" />
			<class name="SearchFields_Worker" />
			<class name="View_Worker" />
		</file>
		
		<file path="api/dao/worker_event.php">
			<class name="DAO_WorkerEvent" />
			<class name="Model_WorkerEvent" />
			<class name="SearchFields_WorkerEvent" />
			<class name="View_WorkerEvent" />
		</file>
		<file path="api/dao/customer_account.php">
			<class name="FegCustomFieldSource_CustomerAccount" />
			<class name="DAO_CustomerAccount" />
			<class name="Model_CustomerAccount" />
			<class name="SearchFields_CustomerAccount" />
			<class name="View_CustomerAccount" />
		</file>
		<file path="api/dao/customer_recipient.php">
			<class name="FegCustomFieldSource_CustomerRecipient" />
			<class name="DAO_CustomerRecipient" />
			<class name="Model_CustomerRecipient" />
			<class name="SearchFields_CustomerRecipient" />
			<class name="View_CustomerRecipient" />
		</file>
		<file path="api/dao/message.php">
			<class name="FegCustomFieldSource_Message" />
			<class name="DAO_Message" />
			<class name="Model_Message" />
			<class name="SearchFields_Message" />
			<class name="View_Message" />
		</file>
		<file path="api/dao/message_recipient.php">
			<class name="DAO_MessageRecipient" />
			<class name="Model_MessageRecipient" />
			<class name="SearchFields_MessageRecipient" />
			<class name="View_MessageRecipient" />
		</file>
		<file path="api/dao/fax_xferlog.php">
			<class name="DAO_FaxXferlog" />
			<class name="Model_FaxXferlog" />
			<class name="SearchFields_FaxXferlog" />
			<class name="View_FaxXferlog" />
		</file>
		<file path="api/dao/import_source.php">
			<class name="DAO_ImportSource" />
			<class name="Model_ImportSource" />
			<class name="SearchFields_ImportSource" />
			<class name="View_ImportSource" />
		</file>
		<file path="api/dao/export_filter.php">
			<class name="FegCustomFieldSource_ExportFilter" />
			<class name="DAO_ExportFilter" />
			<class name="Model_ExportFilter" />
			<class name="SearchFields_ExportFilter" />
			<class name="View_ExportFilter" />
		</file>
	</class_loader>
	
	<!-- Event Points -->

	<event_points>
		<event id="cron.heartbeat">
			<name>Heartbeat</name>
		</event>
		<event id="cron.maint">
			<name>Maintenance</name>
		</event>
		<event id="cron.import">
			<name>Import Messages</name>
		</event>
	</event_points>

	<!-- Permissions -->

	<acl>
		<!-- Access -->

		<priv id="core.access.export_filter.create" label="acl.core.access.export_filter.create" />
		<priv id="core.access.export_filter.update" label="acl.core.access.export_filter.update" />
		<priv id="core.access.customer.create" label="acl.core.access.customer.create" />
		<priv id="core.access.customer.update" label="acl.core.access.customer.update" />
		<priv id="core.access.recipient.create" label="acl.core.access.recipient.create" />
		<priv id="core.access.recipient.update" label="acl.core.access.recipient.update" />
		
		<!-- Workspaces -->
		<!--
		<priv id="core.home.auto_refresh" label="acl.core.home.auto_refresh" />
		<priv id="core.home.workspaces" label="acl.core.home.workspaces" />
		-->
		
	</acl>

	<!-- Extensions -->

	<extensions>

		<!-- Event Listeners -->
		<extension point="devblocks.listener.event">
			<id>feg.listeners.event</id>
			<name>Global Event Listener</name>
			<class>
				<file>api/listeners.classes.php</file>
				<name>FegCoreEventListener</name>
			</class>
			<params>
			</params>
		</extension>
 
		<!-- Controllers -->
		
		<extension point="devblocks.controller">
			<id>core.controller.internal</id>
			<name>Internal Controller</name>
			<class>
				<file>api/uri/internal.php</file>
				<name>FegInternalController</name>
			</class>
			<params>
				<param key="uri" value="internal" />
			</params>
		</extension>

		<!--
		<extension point="devblocks.controller">
			<id>core.controller.debug</id>
			<name>Debug Controller</name>
			<class>
				<file>api/uri/debug.php</file>
				<name>ChDebugController</name>
			</class>
			<params>
				<param key="uri" value="debug" />
			</params>
		</extension>
		-->

		<extension point="devblocks.controller">
			<id>core.controller.cron</id>
			<name>Scheduled Tasks (Cron) Controller</name>
			<class>
				<file>api/uri/cron.php</file>
				<name>FegCronController</name>
			</class>
			<params>
				<param key="uri" value="cron" />
			</params>
		</extension>

		<extension point="devblocks.controller">
			<id>core.controller.page</id>
			<name>FEG Front Controller</name>
			<class>
				<file>api/plugin.classes.php</file>
				<name>FegPageController</name>
			</class>
			<params>
			</params>
		</extension>

		<!-- Patch Containers -->
		
		<extension point="devblocks.patch.container">
			<id>core.patches</id>
			<name>Feg Patches</name>
			<class>
				<file>api/patch.classes.php</file>
				<name>FegCorePatchContainer</name>
			</class>
			<params>
			</params>
		</extension>
	
		<!-- Http Listeners -->
		
		<extension point="devblocks.listener.http">
			<id>core.listeners.tour</id>
			<name>Core App Tour</name>
			<class>
				<file>api/listeners.classes.php</file>
				<name>FegCoreTour</name>
			</class>
			<params>
			</params>
		</extension>
	
		<!-- Pages -->

		<extension point="feg.page">
			<id>core.page.welcome</id>
			<name>Welcome Page</name>
			<class>
				<file>api/uri/welcome.php</file>
				<name>FegWelcomePage</name>
			</class>
			<params>
				<param key="uri" value="welcome" />
				<param key="menutitle" value="" />
			</params>
		</extension>

		<extension point="feg.page">
			<id>core.page.home</id>
			<name>Home Page</name>
			<class>
				<file>api/uri/home.php</file>
				<name>FegHomePage</name>
			</class>
			<params>
				<param key="uri" value="home" />
				<param key="menutitle" value="core.menu.home" />
			</params>
		</extension>

		<extension point="feg.page">
			<id>customer.page.account</id>
			<name>Home Page</name>    
			<class>                   
				<file>api/uri/customer_accounts.php</file>
				<name>FegAccountPage</name>               
			</class>                                          
			<params>                                          
				<param key="uri" value="account" />       
				<param key="menutitle" value="core.menu.account" />                                                                               
			</params>                                                
		</extension>
		
		<extension point="feg.page">
			<id>core.page.stats</id>
			<name>Home Page</name>
			<class>
				<file>api/uri/stats.php</file>
				<name>FegStatsPage</name>
			</class>
			<params>
				<param key="uri" value="stats" />
				<param key="menutitle" value="core.menu.stats" />
			</params>
		</extension>

		<extension point="feg.page">
			<id>core.page.signin</id>
			<name>Signin Page</name>
			<class>
				<file>api/uri/login.php</file>
				<name>FegSignInPage</name>
			</class>
			<params>
				<param key="uri" value="login" />
				<param key="menutitle" value="" />
			</params>
		</extension>

		<extension point="feg.page">
			<id>core.page.setup</id>
			<name>Setup Page</name>
			<class>
				<file>api/uri/setup.php</file>
				<name>FegSetupPage</name>
			</class>
			<params>
				<param key="uri" value="setup" />
				<param key="menutitle" value="" />
			</params>
		</extension>

		<extension point="feg.page">
			<id>core.page.preferences</id>
			<name>Preferences Page</name>
			<class>
				<file>api/uri/preferences.php</file>
				<name>FegPreferencesPage</name>
			</class>
			<params>
				<param key="uri" value="preferences" />
			</params>
		</extension>

		<extension point="feg.page">
			<id>core.page.customer</id>
			<name>Display Customer Page</name>
			<class>
				<file>api/uri/customer.php</file>
				<name>FegCustomerPage</name>
			</class>
			<params>
				<param key="uri" value="customer" />
				<param key="menutitle" value="" />
			</params>
		</extension>

		<!-- Cron Extensions -->
		
		<extension point="feg.cron">
			<id>cron.maint</id>
			<name>Maintenance</name>
			<class>
				<file>api/cron.classes.php</file>
				<name>MaintCron</name>
			</class>
			<params>
			</params>
		</extension>
		
		<extension point="feg.cron">
			<id>cron.heartbeat</id>
			<name>Heartbeat</name>
			<class>
				<file>api/cron.classes.php</file>
				<name>HeartbeatCron</name>
			</class>
			<params>
			</params>
		</extension>
		
		<extension point="feg.cron">
			<id>cron.import</id>
			<name>Message Imports</name>
			<class>
				<file>api/cron.classes.php</file>
				<name>ImportCron</name>
			</class>
			<params>
			</params>
		</extension>
		
		<!-- Custom Field Sources -->

		<extension point="feg.fields.source">
			<id>feg.fields.source.worker</id>
			<name>Worker</name>
			<class>
				<file>api/plugin.classes.php</file>
				<name>FegCustomFieldSource_Worker</name>
			</class>
			<params>
			</params>
		</extension>
				
		<extension point="feg.fields.source">
			<id>feg.fields.source.customer_account</id>
			<name>Customer Account</name>
			<class>
				<file>api/dao/customer_account.php</file>
				<name>FegCustomFieldSource_CustomerAccount</name>
			</class>
			<params>
			</params>
		</extension>
		
		<extension point="feg.fields.source">
			<id>feg.fields.source.customer_recipient</id>
			<name>Customer Recipient</name>
			<class>
				<file>api/dao/customer_recipient.php</file>
				<name>FegCustomFieldSource_CustomerRecipient</name>
			</class>
			<params>
			</params>
		</extension>
		
		<!-- Home Tab -->
		
		<!-- Workspace Sources -->
		
		<!--
		<extension point="cerberusweb.workspace.source">
			<id>core.workspace.source.address</id>
			<name>Addresses</name>
			<class>
				<file>api/plugin.classes.php</file>
				<name>ChWorkspaceSource_Address</name>
			</class>
			<params>
				<param key="view_class" value="C4_AddressView" />
			</params>
		</extension>
		-->
		<!-- Config Tabs -->
		<!--
		<extension point="feg.setup.tab">
			<id>feg.recipient.setup.tab</id>
			<name>[Answernet.com] FEG Customer Recipient Tab</name>
			<class>
				<file>api/uri/customer_accounts.php</file>
				<name>CustomerRecipientConfigTab</name>
			</class>
			<params>
				<param key="uri" value="recipient_config" />
				<param key="title" value="Recipient" />
			</params>
		</extension>
		-->

		<!-- Customer Tabs -->
		
		<extension point="feg.customer.tab">
			<id>feg.customer.tab.property</id>
			<name>Property Tab</name>
			<class>
				<file>api/url/customer.php</file>
				<name>FegCustomerTabProperty</name>
			</class>
			<params>
				<param key="uri" value="property" />
				<param key="title" value="feg.customer.tab.property.title" />
			</params>
		</extension>

		<extension point="feg.customer.tab">
			<id>feg.customer.tab.recipient</id>
			<name>Property Tab</name>
			<class>
				<file>api/url/customer.php</file>
				<name>FegCustomerTabRecipient</name>
			</class>
			<params>
				<param key="uri" value="recipient." />
				<param key="title" value="feg.customer.tab.recipient.title" />
			</params>
		</extension>

		<extension point="feg.customer.tab">
			<id>feg.customer.tab.recent.messages</id>
			<name>Recent Messages Tab</name>
			<class>
				<file>api/url/customer.php</file>
				<name>FegCustomerTabRecentMessages</name>
			</class>
			<params>
				<param key="uri" value="recent_messages" />
				<param key="title" value="feg.customer.tab.recent.messages.title" />
			</params>
		</extension>

	</extensions>
</plugin>